{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Echo</title>

  <link rel="stylesheet" href="{% static '../static/assets/style.css' %}">
  <link rel="stylesheet" href="{% static '../static/assets/bootstrap-5.3.3-dist/css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static '../static/assets/bootstrap-5.3.3-dist/css/bootstrap-utilities.min.css' %}">
  <link rel="stylesheet" href="{% static '../static/assets/bootstrap-5.3.3-dist/css/bootstrap-grid.min.css' %}">
  <script src=" {% static '../static/assets/bootstrap-5.3.3-dist/js/bootstrap.bundle.min.js' %}"></script>

  <style>
    html,
    body {
      height: 100%;
      margin: 0;
      padding: 0;
      overflow-y: auto;
    }

    body {
      display: flex;
      flex-direction: column;
      min-height: 100vh;
      /* Altura mínima de todo el viewport */
      margin: 0;
    }
  </style>

</head>

<body>

  <header class="py-3 mb-4">
    <nav class="py-2 border-bottom">
      <div class="container d-flex flex-wrap">
        <ul class="nav me-auto">

          <li class="nav-item"><a href="/"
              class="nav-link link-body-emphasis px-2 link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover active"
              aria-current="page">Home</a>
          </li>
          <li class="nav-item"><a href="/room"
              class="nav-link link-body-emphasis px-2 link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">Room</a>
          </li>

        </ul>
        <ul class="nav">
          <li class="nav-item"><a href="#" class="nav-link link-body-emphasis px-2">
              <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-threads"
                viewBox="0 0 16 16">
                <path
                  d="M6.321 6.016c-.27-.18-1.166-.802-1.166-.802.756-1.081 1.753-1.502 3.132-1.502.975 0 1.803.327 2.394.948s.928 1.509 1.005 2.644q.492.207.905.484c1.109.745 1.719 1.86 1.719 3.137 0 2.716-2.226 5.075-6.256 5.075C4.594 16 1 13.987 1 7.994 1 2.034 4.482 0 8.044 0 9.69 0 13.55.243 15 5.036l-1.36.353C12.516 1.974 10.163 1.43 8.006 1.43c-3.565 0-5.582 2.171-5.582 6.79 0 4.143 2.254 6.343 5.63 6.343 2.777 0 4.847-1.443 4.847-3.556 0-1.438-1.208-2.127-1.27-2.127-.236 1.234-.868 3.31-3.644 3.31-1.618 0-3.013-1.118-3.013-2.582 0-2.09 1.984-2.847 3.55-2.847.586 0 1.294.04 1.663.114 0-.637-.54-1.728-1.9-1.728-1.25 0-1.566.405-1.967.868ZM8.716 8.19c-2.04 0-2.304.87-2.304 1.416 0 .878 1.043 1.168 1.6 1.168 1.02 0 2.067-.282 2.232-2.423a6.2 6.2 0 0 0-1.528-.161" />
              </svg>
            </a></li>
          <li class="nav-item"><a href="#" class="nav-link link-body-emphasis px-2">USER</a></li>
        </ul>
      </div>
    </nav>
  </header>


  <div class="container my-1">

    <div class="position-relative p-5 text-center text-muted bg-body border border-dashed rounded-3">

      <div class="position-absolute top-0 end-0 d-flex align-items-start p-3 gap-2">
        <!-- Botón para conectar -->
        <button type="button" id="connectButton" class="btn btn-light bg-secondary bg-opacity-10 rounded-5"
          aria-label="Connect">
          Connect
        </button>

        <!-- Botón de cerrar -->
        <button type="button" class="btn btn-light bg-secondary bg-opacity-10 rounded-5" aria-label="Close"
          id="closeButton">
          Close
        </button>


      </div>

      <!-- Título del chat -->
      <h1 class="text-body-emphasis">Echo Room</h1>

      <!-- Contenedor para los mensajes -->
      <div id="chat-messages" class="bg-light border rounded p-3 my-2 overflow-auto"
        style="height: 250px; min-height: 128px; max-height: 300px;">

        <!-- Aqui van los mensajes de chat -->

        <!--
        <div class="text-start mb-2">
          <strong>User 1:</strong> Hello, how are you?
        </div>

        <div class="text-end mb-2">
          <strong>You:</strong> I'm good, thanks!
        </div> -->



      </div>

      <!-- Campo de entrada para mensajes -->
      <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Type your message..." aria-label="Chat message"
          aria-describedby="button-send" id="input-message">
        <button class="btn btn-light" type="button" id="buttonSend">Send</button>
      </div>
    </div>



  </div>

  <footer class="footer mt-auto py-3 bg-body-tertiary">
    <div class="container">
      <span class="text-body-secondary"> <a class="slink" href="/">© 2024 Jaime B. & Edwar G. </a> </span>
    </div>
  </footer>


  <script>

    let chatSocket = null;

    function writeMessage(str_sender, str_message, isSentByUser) {
      const chatMessages = document.getElementById('chat-messages');
      const messageElement = document.createElement('div');

      //clase segun si el mensaje fue enviado o recibido
      messageElement.className = isSentByUser ? 'text-end mb-2' : 'text-start mb-2';
      messageElement.innerHTML = `<strong>${str_sender}: </strong> ${str_message}`;

      //agregar el mensaje al contenedor de chat
      chatMessages.appendChild(messageElement);

      //desplazarse automáticamente hacia abajo
      chatMessages.scrollTop = chatMessages.scrollHeight;
    }

    function connectWebSocket() {

      if (chatSocket && chatSocket.readyState === WebSocket.OPEN) {
        console.log("Already connected!");
        writeMessage("Warning", "You already connected!", false);
        return;
      }

      // Crear nueva conexión WebSocket
      chatSocket = new WebSocket('ws://' + window.location.host + '/ws/chatroom/echo');

      chatSocket.onopen = function () {
        console.log("Connected to the WebSocket server");
      };

      chatSocket.onmessage = function (e) {
        const data = JSON.parse(e.data);
        console.log("Received message from server:", data.message);
        writeMessage("Server", data.message, false);
      };

      chatSocket.onclose = function () {
        console.log("Disconnected from the WebSocket server");
      };

      chatSocket.onerror = function (e) {
        console.log("WebSocket error:", e);
      };
    }

    function disconnectWebSocket() {
      if (chatSocket && chatSocket.readyState === WebSocket.OPEN) {
        chatSocket.close();
        console.log("Disconnected manually from the WebSocket server.");

        writeMessage("Server", "Disconnected manually from the WebSocket server.", false);

      } else {

        writeMessage("Warning", "No active connection to disconnect.", false);

      }
    }

    // Enviar mensaje cuando se presiona el botón "Send"
    document.getElementById('buttonSend').onclick = function () {

      const messageInput = document.getElementById('input-message');
      const message = messageInput.value.trim();

      console.log(message);

      if (message && chatSocket && chatSocket.readyState === WebSocket.OPEN) {
        writeMessage("You", message, true);
        // Enviar el mensaje al servidor WebSocket
        chatSocket.send(JSON.stringify({ 'message': message }));
        // Limpiar el campo de entrada
        messageInput.value = '';
      } else {
        console.log("No active WebSocket connection or empty message.");
      }
    };

    // Conectar al WebSocket al presionar el botón de conectar
    document.getElementById('connectButton').onclick = connectWebSocket;

    // Desconectar del WebSocket al presionar el botón de cerrar (desconectar)
    document.getElementById('closeButton').onclick = disconnectWebSocket;

  </script>

</body>

</html>